@import "./abstracts/variables";

.header {
  display: flex;
  position: sticky;
  top: 0;
  justify-content: space-evenly;
  border-bottom: 0.1px solid lightgray;
  padding: 10px 0;
  width: 100%;
  z-index: 999;
  background-color: $white;

  /* LEFT SIDE OF THE HEADER*/
  .header__left {
    display: flex;

    img {
      object-fit: contain;
      height: 40px;
      margin-right: 10px;
    }

    .header__search {
      padding: 10px;
      display: flex;
      align-items: center;
      border-radius: 5px;
      height: 22px;
      color: $gray;
      background-color: $bg-input-color;

      input {
        outline: none;
        border: none;
        background: none;
      }
    }
  }

  /* RIGHT SIDE OF THE HEADER*/
  .header__right {
    display: flex;
  }
}
