// @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

// /*----------FONTS----------*/
// $font: "Poppins", sans-serif;

/*----------COLORS----------*/
$gray: gray;
$black: rgb(19, 19, 19);
$bg-color: #eef3f8;

/*----------TEXT COLORS----------*/
$text-color-white: #f5f5f5;
